@model ConnectorCenter.Views.Login.IndexModel
@{
    Layout = "~/Views/Shared/ViewBase.cshtml";
}
@section Scripts{

}
<div>
    <form action="/login/authorize" method="post">
        @if (!String.IsNullOrEmpty(Model.Message))
        {
            <label>@Model?.Message</label>
        }
        <input type="text" name="Login"/>
        <input type="password" name="Password"/>
        <input type="submit"/>
    </form>
</div>
