<?xml version="1.0" encoding="utf-8"?><AccessSettings><WebAccess>true</WebAccess><Groups>View</Groups><GroupConnections>Edit</GroupConnections><GroupUsers>Edit</GroupUsers><Servers>View</Servers><ServersConnections>View</ServersConnections><Users>View</Users><UserConnections>Edit</UserConnections><Statistics>true</Statistics><Logs>true</Logs><ImportAndExport>false</ImportAndExport><ResetVisualSettings>true</ResetVisualSettings><SettingsAPI>View</SettingsAPI><SettingsLogs>View</SettingsLogs><SettingsOther>View</SettingsOther></AccessSettings>