<?xml version="1.0" encoding="utf-8"?><AccessSettings><WebAccess>true</WebAccess><Groups>None</Groups><GroupConnections>None</GroupConnections><GroupUsers>None</GroupUsers><Servers>None</Servers><ServersConnections>None</ServersConnections><Users>View</Users><UserConnections>Edit</UserConnections><Statistics>true</Statistics><Logs>true</Logs><SettingsAPI>View</SettingsAPI><SettingsLogs>View</SettingsLogs><SettingsOther>View</SettingsOther></AccessSettings>