<?xml version="1.0" encoding="utf-8"?><AccessSettings><WebAccess>false</WebAccess><Groups>None</Groups><GroupConnections>None</GroupConnections><GroupUsers>None</GroupUsers><Servers>None</Servers><ServersConnections>None</ServersConnections><Users>None</Users><UserConnections>None</UserConnections><Statistics>false</Statistics><Logs>false</Logs><ImportAndExport>false</ImportAndExport><ResetVisualSettings>false</ResetVisualSettings><SettingsAPI>None</SettingsAPI><SettingsLogs>None</SettingsLogs><SettingsOther>None</SettingsOther></AccessSettings>