@using ConnectorCore.Models;
@model ConnectorCenter.Views.Logs.IndexModel
@{
    Layout = "~/Views/Shared/ViewBase.cshtml";
}
<form>
    <div class="container panel" style="height:80vh;">
        <!--Logo-->
        <div class="row" style="margin:0px 3vw">
            <div class="col-lg-auto">
                <h1 class="textLogo" style="margin:2vh 0px 2vh 0vw;">Логи</h1>
            </div>
            <div class="col">
                <div class="d-flex align-items-center justify-content-end h-100">
                    <button class="iconButton" formaction="/logs" formmethod="get" title="Обновить">
                        <svg style="width:2vh;height:2vh" viewBox="0 0 24 24">
                            <path class="path" d="M17.65,6.35C16.2,4.9 14.21,4 12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20C15.73,20 18.84,17.45 19.73,14H17.65C16.83,16.33 14.61,18 12,18A6,6 0 0,1 6,12A6,6 0 0,1 12,6C13.66,6 15.14,6.69 16.22,7.78L13,11H20V4L17.65,6.35Z" />
                        </svg>
                    </button>
                    <button class="iconButton mx-2" formaction="/dashboard" formmethod="get" title="На главную">
                        <svg style="width:2vh;height:2vh" viewBox="0 0 24 24">
                            <path class="path" d="M21,16V4H3V16H21M21,2A2,2 0 0,1 23,4V16A2,2 0 0,1 21,18H14V20H16V22H8V20H10V18H3C1.89,18 1,17.1 1,16V4C1,2.89 1.89,2 3,2H21M5,6H14V11H5V6M15,6H19V8H15V6M19,9V14H15V9H19M5,12H9V14H5V12M10,12H14V14H10V12Z" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>  
        <!--separator-->
        <div class="row" style="margin:0px 3vw">
            <div class="separator" style="height:1px;">

            </div>
        </div>
        <!--List-->
        <div class="row" style="margin:0px 3vw; height:70vh; overflow:auto; overflow-x:visible; overflow-y:visible;">
            <textarea readonly class="w-100 my-2">@Model.Logs</textarea>
        </div>
</div>
</form>
